<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyAwesomeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyAwesomeProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1019</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1770</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1896</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1924</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_986</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
