<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyAwesomeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyAwesomeProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1019</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1924</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
